# Merge Amplicon Datasets by ASV sequence

Join "Flyer2018" and "RREAS2018" datasets for 18S, COI, and 12S

In [3]:
import pandas as pd
# import glob

### Set Locations

In [7]:
directory = "./Data/"
markers = ['18S', 'COI', '12S']
# prefixes = ['RREAS2018', 'Flyer2018']

## Import Data

### RREAS2018

In [19]:
marker = '18S'
prefix = 'RREAS2018'

# otu table
file = prefix +'_'+marker+'_otu_filtered.csv'
print(directory+file)
df = pd.read_csv(directory + file)
df = df.rename(columns= {'Unnamed: 0': 'ASV'})
df.set_index('ASV', inplace=True)
otu_all = df.copy()
print('Number ASVs:', len(df.index))

# taxa table
file = prefix +'_'+marker+'_taxa_filtered.csv'
df = pd.read_csv(directory+file)
df = df.rename(columns= {'Unnamed: 0': 'ASV'})
df.set_index('ASV', inplace=True)
taxa_all = df.copy()
print('Number ASVs:', len(df.index))

# sequence table
file = prefix +'_'+marker+'_seq_filtered.csv'
df = pd.read_csv(directory +file)
df = df.rename(columns= {'Unnamed: 0': 'ASV'})
df.set_index('ASV', inplace=True)
seq_all = df.copy()
print('Number ASVs:', len(df.index))

df.head()

./Data/RREAS2018_18S_otu_filtered.csv
Number ASVs: 7497
Number ASVs: 7497
Number ASVs: 7497

                                                sequence
ASV
ASV_1  GCTACTACCGATTGAACATTTTAGTGAGGTCCTCGGACTGTGAGCC...
ASV_2  GCTACTACCGATTGAACGTTTTAGTGAGGTCCTCGGACTGTTTGCC...
ASV_3  GCTACTACCGATTGGATGGTTTAGTGAGGTCCTCGGATCGGCCCCG...
ASV_4  GCTCCTACCGATTGAGTGATCCGGTGAATAATTCGGACTGCAGCAG...
ASV_5  GCTCCTACCGATTGAGTGATCCGGTGAATAATTCGGACTGCAGCAG...

In [18]:
'''
# metadata
file = 'Collapsed_meta_table_unfiltered.csv'
df = pd.read_csv(directory+file)
df.set_index('sample_name', inplace=True)
meta_all = df.copy()
print('Number samples:', len(df.index))
'''

"\n# metadata\nfile = 'Collapsed_meta_table_unfiltered.csv'\ndf = pd.read_csv(directory+file)\ndf.set_index('sample_name', inplace=True)\nmeta_all = df.copy()\nprint('Number samples:', len(df.index))\n"

### Flyer2018 Data

In [20]:
marker = '18S'
prefix = 'Flyer2018'

# otu table
file = prefix +'_'+marker+'_table_counts.tsv'
print(directory+file)
df = pd.read_csv(directory + file, sep='\t')
df.set_index('ASV ID', inplace=True)
otu_all = df.copy()
print('Number ASVs:', len(df.index))
df.head()

./Data/Flyer2018_18S_table_counts.tsv
Number ASVs: 7385

,CN18Fc12_8_eDNA,CN18Fc19_5_eDNA,CN18Fc21_6_eDNA,CN18Fc22_6_eDNA,CN18Fc24_6_eDNA,CN18Fc25_5_eDNA,CN18Fc27_4_eDNA,CN18Fc29_6_eDNA,CN18Fc30_4_eDNA,CN18Fc32_4_eDNA,...,CN18SESPkoa_SC36,CN18SESPkoa_SC37,CN18SESPkoa_SC39,CN18SESPkoa_SC40,CN18SESPkoa_SC41,CN18SESPkoa_SC42,CN18SESPkoa_SC44,CN18SESPkoa_SC45,CN18SESPkoa_SC47,CN18SESPkoa_SC49
ASV ID,,,,,,,,,,,,,,,,,,,,,
ASV_1,1,0,3,0,0,3,0,1,7,2,...,7,2,3,2,1,2,1,2,5,4
ASV_2,0,0,0,0,0,0,0,0,1,0,...,2,0,0,0,2,1,2,1,1,1
ASV_3,2,0,23,6,5,0,0,3,1,0,...,1,86,2,51,2,94,2,12,24,13
ASV_4,7,13521,3,2215,23301,16490,9,5,19,3199,...,4,0,1,1,0,1,2,0,1,3
ASV_5,11,13,31,40,23,34,37,19,42,15,...,3001,15,2707,32,610,53,1833,46,64,20

In [21]:
'''marker = '18S'
prefix = 'Flyer2018'

# otu table
file = prefix +'_'+marker+'_otu_filtered.csv'
print(directory+file)
df = pd.read_csv(directory + file)
df = df.rename(columns= {'Unnamed: 0': 'ASV'})
df.set_index('ASV', inplace=True)
otu_all = df.copy()
print('Number ASVs:', len(df.index))

# taxa table
file = prefix +'_'+marker+'_taxa_filtered.csv'
df = pd.read_csv(directory+file)
df = df.rename(columns= {'Unnamed: 0': 'ASV'})
df.set_index('ASV', inplace=True)
taxa_all = df.copy()
print('Number ASVs:', len(df.index))

# sequence table
file = prefix +'_'+marker+'_seq_filtered.csv'
df = pd.read_csv(directory +file)
df = df.rename(columns= {'Unnamed: 0': 'ASV'})
df.set_index('ASV', inplace=True)
seq_all = df.copy()
print('Number ASVs:', len(df.index))

df'''

"marker = '18S'\nprefix = 'Flyer2018'\n\n# otu table\nfile = prefix +'_'+marker+'_otu_filtered.csv'\nprint(directory+file)\ndf = pd.read_csv(directory + file)\ndf = df.rename(columns= {'Unnamed: 0': 'ASV'})\ndf.set_index('ASV', inplace=True)\notu_all = df.copy()\nprint('Number ASVs:', len(df.index))\n\n# taxa table\nfile = prefix +'_'+marker+'_taxa_filtered.csv'\ndf = pd.read_csv(directory+file)\ndf = df.rename(columns= {'Unnamed: 0': 'ASV'})\ndf.set_index('ASV', inplace=True)\ntaxa_all = df.copy()\nprint('Number ASVs:', len(df.index))\n\n# sequence table\nfile = prefix +'_'+marker+'_seq_filtered.csv'\ndf = pd.read_csv(directory +file)\ndf = df.rename(columns= {'Unnamed: 0': 'ASV'})\ndf.set_index('ASV', inplace=True)\nseq_all = df.copy()\nprint('Number ASVs:', len(df.index))\n\ndf"